//Created by bucklawr on 14/05/16.

extends ../node_modules/jade-bootstrap/_bootstrap

append style
    link(rel = "stylesheet", href = "/stylesheets/create-itemStyle.css")

block body
    .container
      p	#{title}