//Created by bucklawr on 14/05/16.
extends ../node_modules/jade-bootstrap/_bootstrap
append styles
    link(rel = "stylesheet", href = "/stylesheets/create-itemStyle.css")

block body
    .dropdownlist
        +navbar("TradeYou","dropdown_menu")
            +nav_item("/loginWelcome") Home
            +nav_item("/browse") Browse
            +nav_item_dropdown("#")(label="Sell")
                +nav_item("/createItem") Create Listing
                +nav_item("#") Current Listings
            +nav_item_dropdown("#")(label="Catagories")
                +nav_item("#") Cars
                +nav_item("#") Books

    .container
        h1 Create new Item
        div(id="addImage" class="crop")
            -if(imagePlaced==false) {
                div(id="placeholder")
                    +icon ("plus")
                    p Add Image
            -}
            -else{
                img(src=im)
            -}

        form(action='/createItem', method='post', enctype="multipart/form-data")
            input(id="fileBrowser" type="file" name="filename" accept="image/gif, image/jpg, image/png")
            input(id="uplbtn" type="submit" class="btn btn-default" value="Upload")
            br
            br
            br
        form(action='/itemPage', method='get')
            div(class='input-group input-group-lg')
                span(class='input-group-addon' id ='sizing-addon1') Title
                input(type='text', id='titleInput' name='Title', class='form-control',
                Placeholder='Please type in a name for your item here.', aria-describedby='sizing-addon1')
                br
            div(class='input-group input-group-lg')
                span(class='input-group-addon' id ='sizing-addon2') Price
                input(type='text', id='price' name='price', class='form-control',
                Placeholder='Please type in the price of your item here.', aria-describedby='sizing-addon2')
                br
            div(class='input-group input-group-lg')
                span(class='input-group-addon' id ='sizing-addon3') Description
                input(type='text', id='description' name='description', class='form-control',
                Placeholder='Please type a short description of your item here.', aria-describedby='sizing-addon3')
                br
            .btn-group(data-toggle='buttons')
                label.btn.btn-primary
                    input(type='radio',name='tag',autocomplete='off',value='books')
                    | Books
                label.btn.btn-primary
                    input(type='radio',name='tag',autocomplete='off',value='toys')
                    | Toys
                label.btn.btn-primary
                    input(type='radio',name='tag',autocomplete='off',value='ducks')
                    | Ducks
            br
            input(type='submit' class='btn btn-default', value='Create')
