//Created by bucklawr on 14/05/16.
extends ../node_modules/jade-bootstrap/_bootstrap
append styles
    link(rel = "stylesheet", href = "/stylesheets/create-itemStyle.css")

block body
    .dropdownlist
        +navbar("TradeYou","dropdown_menu")
            +nav_item("/loginWelcome") Home
            +nav_item("/browse") Browse
                span
            +nav_item_dropdown("#")(label="Sell")
                +nav_item("/createItem") Create Listing
                +nav_item("#") Current Listings
            +nav_item_dropdown("#")(label="Catagories")
                +nav_item("/browse?filr=cars") Cars
                +nav_item("/browse?filr=books") Books
                +nav_item("/browse?filr=electronics") Electronics
            +a-btn-danger("/purchases")
                +icon('shopping-cart')
            +nav_item("/") Log Out

    .container
        h1.createTitle Create new Item
        div(id="addImage" class="crop")
            -if(imagePlaced==false) {
                div(id="placeholder")
                    +icon ("plus")
                    p Add Image
            -}
            -else{
                img(src=im)
            -}

        form(action='/createItem', method='post', enctype="multipart/form-data")
            input(id="fileBrowser" type="file" name="filename" accept="image/gif, image/jpg, image/png")
            input(id="uplbtn" type="submit" class="btn btn-default" value="Upload")
            br
            br
            br

        form(action='/createItem/redirect', method='post')

            div(class='input-group input-group-lg')
                span(class='input-group-addon' id ='sizing-addon1') Title
                input(type='text', id='titleInput' name='Title', class='form-control',
                Placeholder='Please type in a name for your item here.', aria-describedby='sizing-addon1')

            br
            +tab-list(["Description", "Statistics", "Contact"],0, id="descriptionTabs")
                +tab("Description", "active")
                    textarea(name="txtEdit", id="descBox")
                +tab("Statistics")
                    br
                    div(id="tags")
                        .btn-group(data-toggle='buttons')
                            p(id="toolTip") Tags:
                            label.btn.btn-primary
                                input(type='radio',name='tag',autocomplete='off',value='cars')
                                | Cars
                            label.btn.btn-primary
                                input(type='radio',name='tag',autocomplete='off',value='books')
                                | Books
                            label.btn.btn-primary
                                input(type='radio',name='tag',autocomplete='off',value='electronics')
                                | Electronics
                            label.btn.btn-primary
                                input(type='radio',name='tag',autocomplete='off',value='toys')
                                | Toys
                            label.btn.btn-primary
                                input(type='radio',name='tag',autocomplete='off',value='art')
                                | Art
                            label.btn.btn-primary
                                input(type='radio',name='tag',autocomplete='off',value='furniture')
                                | Furniture
                            label.btn.btn-primary
                                input(type='radio',name='tag',autocomplete='off',value='stationery')
                                | Stationery
                    br
                    br
                    div(id="measurements")
                        p Measurements:
                        input(type="number" id="long" placeholder="longest side(cm)")
                        input(type="number" id="height" placeholder="height(cm)")
                        input(type="number" id="weight" placeholder="weight(kg)")
                +tab("Contact")
                    div(id="address")
                        input(type="text" id="addr1" placeholder="address")
                        br
                        br
                        input(type="text" id="addr2" placeholder="address line 2")
                        br
                        br
                        input(type="text" id="city" placeholder="city")
                        br
                        br
                        input(type="text" id="suburb" placeholder="suburb")
                    div(id="contact")
                        input(type="email" id="email" placeholder="email")
                        br
                        br
                        input(type="tel" id="telephone" placeholder="telephone")
            br
            br
            div(id="line")
            input(type='submit' class='btn btn-default', value='Save' id="saveBtn")
