//
   Created by steve on 17/05/2016.

extends ../node_modules/jade-bootstrap/_bootstrap

append styles
    link(rel = "stylesheet", href = "/stylesheets/indexStyle.css")

block body
    .dropdownlist
        +navbar(title,"dropdown_menu")
            +nav_item("homePage.jade") Home
            +nav_item("browse.jade") Browse
            +nav_item_dropdown("#")(label="Sell")
                +nav_item("createItem.jade") Create Listing
                +nav_item("#") Current Listings
            +nav_item_dropdown("#")(label="Catagories")
                +nav_item("/browse?filr=cars") Cars
                +nav_item("/browse?filr=books") Books
                +nav_item("/browse?filr=electronics") Electronics
                +nav_divider
                +nav_header Specials
                +nav_item("#") Daily Deals
                +nav_item("#") Clearance
    .container
        h1 TradeYou
        +carousel("Carousel ID_2",[
            {image: "images/slide1.jpg"},
            {image: "images/slide5.jpg"},
        ])