//
   Created by steve on 17/05/2016.

doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title TradeYou
        link(rel='stylesheet', type='text/css', href='../public/stylesheets/homePageStyle.css')
        link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    body
        header.container
            .row
                img.col-sm-4(src='Logo%20Placehold.png', alt='Globe', height='60px', width='=100px')
                // <h1>TradeYou</h1>
                form(action='../../views/index.jade')
                    input.btn.btn-default(type='submit', value='Log In')
        section.container
