extends ../node_modules/jade-bootstrap/_bootstrap
block body
  .dropdownlist
  +navbar(title,"dropdown_menu")
   +nav_item("index.html","active") Home
   +nav_item("about.html") Browse
   +nav_item("contact.html") Log In
   +nav_item_dropdown("#")(label="Catagories")
    +nav_item("#") Cars
    +nav_item("#") Books
    +nav_item("#") Electronics
    +nav_divider
    +nav_header Specials
    +nav_item("#") Daily Deals
    +nav_item("#") Clearance
  .container
    form(name='login', action='/listings', method='get', accept-charset='utf-8')
        ul

          label(for='usermail') File Delete
          input#deleter(type='deleter', name='deleter', placeholder='File to Delete', required='')
          input(type='submit', value='Delete')
          label(for='usermail') Email
          input#email(type='email', name='usermail', placeholder='yourname@email.com', required='')
          label(for='password') Password
          input#password(type='password', name='password', placeholder='password', required='')
          input(type='submit', value='Login')