extends .../node_modules/jade-bootstrap/_boostrap
block body
  h1= title
  p Welcome to #{title}
  .container
    form(name='login', action='/listings', method='get', accept-charset='utf-8')
        ul

          label(for='usermail') File Delete
          input#deleter(type='deleter', name='deleter', placeholder='File to Delete', required='')
          input(type='submit', value='Delete')
          label(for='usermail') Email
          input#email(type='email', name='usermail', placeholder='yourname@email.com', required='')
          label(for='password') Password
          input#password(type='password', name='password', placeholder='password', required='')
          input(type='submit', value='Login')
