extends ../node_modules/jade-bootstrap/_bootstrap

append styles
    link(rel = "stylesheet", href = "/stylesheets/indexStyle.css")

block body
  .dropdownlist
    +navbar(title,"dropdown_menu")
        +nav_item("/") Home
        +nav_item("/browse") Browse
        +nav_item_dropdown("#")(label="Catagories")
            +nav_item("/browse?filr=cars") Cars
            +nav_item("/browse?filr=books") Books
            +nav_item("/browse?filr=electronics") Electronics
        +nav_item_dropdown("#")(label="Login")
            li(id='login')
                a(id='login-trigger', href='#', class='active') Login
                div(id='login-content')
                    form(action="/loginWelcome" method="get")
                        fieldset(id='inputs')
                            input(id='username', type='email' name='Email' placeholder='Your email' required)
                            input(id='password', type='password' name='password' placeholder='Your password' required)
                        fieldset(id='actions')
                            input(type='submit', id='submit', value='Login')



  .container
      h1 TradeYou

