//
   Created by steve on 21/05/2016.

extends ../node_modules/jade-bootstrap/_bootstrap
append styles
    link(rel = "stylesheet", href = "/stylesheets/itemPageStyle.css")

block body
    .dropdownlist
        +navbar("TradeYou","dropdown_menu")
            +nav_item("/loginWelcome") Home
            +nav_item("/browse") Browse
            +nav_item_dropdown("#")(label="Sell")
                +nav_item("/createItem") Create Listing
                +nav_item("/userListing") Current Listings
            +nav_item_dropdown("#")(label="Catagories")
                +nav_item("/browse?filr=cars") Cars
                +nav_item("/browse?filr=books") Books
                +nav_item("/browse?filr=electronics") Electronics
                +nav_item("/browse?filr=toys") Toys
                +nav_item("/browse?filr=art") Art
                +nav_item("/browse?filr=furniture") Furniture
                +nav_item("/browse?filr=stationary") stationary
            +a-btn-danger("/purchases")
                +icon('shopping-cart')
            +nav_item("/") Log Out

    .container
        h1(id="title") !{item[2]}
        div(id="imageView")
            -if(imagePlaced == false){
                div(id="placeholder")
                    +icon("unchecked")
                    p No image uploaded
            -}
            -else{
                img(src=im)
            -}
        br
        +tab-list(["Description", "Statistics", "Contact"],0, id="descriptionTabs")
            +tab("Description", "active")
                div(id="descBox")
            +tab("Statistics")
                br
                div(id="tagLine")
                    p Tag:
                    div(id="tag")
                br
                br
                div(id="measurements")
                    p Measurements:
                    div(id="long" )
                    div(id="height" )
                    div(id="weight" )
            +tab("Contact")
                div(id="address")
                    div(id="addr1")
                    br
                    br
                    div(id="addr2")
                    br
                    br
                    div(id="city")
                    br
                    br
                    div(id="suburb")
                div(id="contact")
                    div(id="email")
                    br
                    br
                    div(id="telephone")
        br
        br
        div(id="line")
        br
        br