//
   Created by steve on 21/05/2016.

extends ../node_modules/jade-bootstrap/_bootstrap

append styles
    link(rel = "stylesheet", href = "/stylesheets/itemPageStyle.css")

block body
    .dropdownlist
        +navbar("TradeYou","dropdown_menu")
            +nav_item("/loginWelcome") Home
            +nav_item("/browse") Browse
            +nav_item_dropdown("#")(label="Sell")
                +nav_item("/createItem") Create Listing
                +nav_item("/userListing") Current Listings
            +nav_item_dropdown("#")(label="Catagories")
                +nav_item("/browse?filr=cars") Cars
                +nav_item("/browse?filr=books") Books
                +nav_item("/browse?filr=electronics") Electronics
                +nav_item("/browse?filr=toys") Toys
                +nav_item("/browse?filr=art") Art
                +nav_item("/browse?filr=furniture") Furniture
                +nav_item("/browse?filr=stationary") stationary
            +a-btn-danger("/purchases")
                +icon('shopping-cart')
            +nav_item("/") Log Out

    .container
        h1(id="title") !{Title}

        div(id="imageView")
            -if(imagePlaced == false){
                div(id="placeholder")
                    +icon("unchecked")
                    p No image uploaded
            -}
            -else{
                img(src=im)
            -}

        br
        +tab-list(["Description", "Statistics", "Contact"],0, id="descriptionTabs")
            +tab("Description", "active")
                h1 Description
                p this is the description tab
            +tab("Statistics")
                h1 Statistics
                p this is the statistics tab
            +tab("Contact")
                h1 Contact
                p this is the contact tab