// Created by bucklawr on 14/05/16.
extends ../node_modules/jade-bootstrap/_bootstrap

append styles
    link(rel = "stylesheet", href = "/stylesheets/indexStyle.css")

block body
    .dropdownlist
        +navbar("TradeYou","dropdown_menu")
            +nav_item("/loginWelcome") Home
            +nav_item("/browse") Browse
            +nav_item_dropdown("#")(label="Sell")
                +nav_item("/createItem") Create Listing
                +nav_item("#") Current Listings
            +nav_item_dropdown("#")(label="Catagories")
                +nav_item("/browse?filr=cars") Cars
                +nav_item("/browse?filr=books") Books
                +nav_item("/browse?filr=electronics") Electronics
            +a-btn-danger("/purchases")
                +icon('shopping-cart')
            +nav_item("/") Log Out
    .container
        p &nbsp
        center
            h1 TradeYou
        p &nbsp
        center
            #myCarousel.carousel.slide(data-ride='carousel')
                // Indicators
                ol.carousel-indicators
                    li.active(data-target='#myCarousel', data-slide-to='0')
                    li(data-target='#myCarousel', data-slide-to='1')
                    li(data-target='#myCarousel', data-slide-to='2')
                    li(data-target='#myCarousel', data-slide-to='3')
                // Wrapper for slides
                .carousel-inner(role='listbox')
                    .item.active
                        img(src='images/slide1.jpg')
                    .item
                        img(src='images/slide2.jpg')
                    .item
                        img(src='images/slide3.jpg')
                    .item
                        img(src='images/slide5.jpg')
                // Left and right controls
                a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
                    span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
                    span.sr-only Previous
                a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
                    span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
                    span.sr-only Next
        p &nbsp