//
   Created by steve on 18/05/2016.

doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Create Listing
        link(rel='stylesheet', href='../stylesheets/create-itemStyle.css')
        link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    body
        header.container
            .row
                a(href='homePage.html')
                    img.col-sm-3(src='Logo%20Placehold.png', alt='Globe', height='60px', width='=100px')
        .container
            h1.newItem Create new Item
            #addImage(style=' ; height: 500px  ;width: 500px')
                #placeholder(style='color:#b7b6b6')
                    // +icon ("plus")
                    p.imageText Add Image
            br
            form(name='description', action='/createItem', method='get')
                .input-group.input-group-lg
                    span#sizing-addon1.input-group-addon Title
                    input.form-control(type='text', name='Title', placeholder='Please type in a title for your item here.', aria-describedby='sizing-addon1')
                br
                .input-group.input-group-lg
                    span#sizing-addon1.input-group-addon Price
                    input.form-control(type='number', name='price', placeholder='Cost of the Item.', aria-describedby='sizing-addon1')
                br
                .input-group.input-group-lg
                    span#sizing-addon1.input-group-addon Description
                    input.form-control(type='text', name='description', placeholder='Enter a Description', aria-describedby='sizing-addon1')
                br
                input.btn.btn-default(type='submit', value='Done')
