//
   Created by steve on 18/05/2016.

doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title TradeYou Log In
        link(rel='stylesheet', type='text/css', href='../stylesheets/loginPage.css')
        link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    body
        header.container
            .row
                a(href='homePage.html')
                    img.col-sm-3(src='Logo%20Placehold.png', alt='Globe', height='60px', width='=100px')
        .container
            .row
                .col-md-offset-5.col-md-2
                    .form-login
                        h4 Welcome Back!
                        input#userName.form-control.input-sm.chat-input(type='email', placeholder='E-mail')
                        br
                        input#userPassword.form-control.input-sm.chat-input2(type='password', placeholder='password')
                        br
                        .wrapper
                            form(action='homePage.html')
                                input.btn.btn-default(type='submit', value='Log In')
                            // <span class="group-btn">
                            // <a href="#" class="btn btn-primary btn-md">login <i class="fa fa-sign-in"></i></a>
                            // </span>
