body{
    Background: #231F22;
    text-align: left;
}
button{
    text-align: right;
}
h2{
    color: #e8f2ff;
}
table{
    border: 1px solid black;
    width: 100%;
    padding-bottom: 30px;
}
tr:hover {background-color:#e97171;
}

.container{
    background-color: #7e1515;
    width: 80%;
}

li{
    padding-bottom: 10px ;
}

h1{
    color: #B7B6B6;
    margin: auto;
    padding-bottom: 0px;
}

p {
    text-align: left;
    font-size: 16px;
    color:#ffffff;
}
li{
    list-style-type: none;
}

nav ul{
    padding: 0;
    list-style: none;
    position: relative;
    float: right;
    background: #eee;
    border-bottom: 1px solid #fff;
    border-radius: 3px;
    margin: auto;
}

nav li{
    float: left;
}

nav #login{
    border-right:  1px solid #ddd;
    box-shadow: 1px 0 0 #fff;
}

nav #login-trigger{
    display: inline-block;
    display: inline;
    zoom: 1;
    height: 25px;
    line-height: 25px;
    font-weight: bold;
    padding: 0 8px;
    text-decoration: none;
    color: #444;
    text-shadow: 0 1px 0 #fff;
    border-radius: 3px 0 0 3px;
}

nav #login-trigger:hover,
nav #login.active {
    background: #fff;
}

nav #login-content {

    background: #fff;
    background-image: linear-gradient(top, #fff, #eee);
    padding: 15px;
    box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
    border-radius: 3px 0 3px 3px;
}

nav li #login-content{
    right: 0;

}

#inputs input{
    background: #f1f1f1;
    padding: 6px 5px;
    margin: 0 0 5px 0;
    width: 238px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 1px 1px #ccc inset;
}

#inputs input:focus {
    background-color: #fff;
    border-color: #e8c291;
    outline: none;
    box-shadow: 0 0 0 1px #e8c291 inset;
}

#login #actions {
    margin: 10px 0 0 0
}

#login #submit {
    background-color: #d1454545;
    background-image: linear-gradient(top, #e97171, #d14545);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 0 1px 0 rgba(0,0,0,.5);
    box-shadow: 0 0 1px rgba(0,0,0,0.3), 0 1px 0 rgba(255,255,255,0.3);
    border: 1px solid #7e1515;
    float:left;
    height: 30px;
    padding: 0;
    width: 100px;
    cursor: pointer;
    font: bold 14px Arial, Helvetica;
    color:#fff;
}

#login #submit:hover,
#login #submit:focus {
    background-color: #e97171;
    background-image: linear-gradient(top, #d14545, #e97171);
}

#login #submit:active{
    outline:none;
    box-shadow: 0 1px 4px rgba(0,0,0,0.5) inset;
}

#login #submit::-moz-focus-inner{
    border: none;
}

#login label{
    float: right;
    line-height: 30px;
}

#login label input{
    position: relative;
    top: 2px;
    right: 2px;
}