#addImage {
     background: #231F22;
     height: 500px;
     width: 500px;
     margin-left: 320px;
 }

#placeholder{
    height: auto;
    width: 50%;
    position: relative;
}

.container{

}

header {
    padding: 20px 0;
    background-color: #231F22;
}

div.container{
    background-color: #6F6F6F;
    height: 100vh;
    padding-top: 0px;
}

.newItem{
    margin-top: 10px;
    margin-left: 437px;
    font-family: Sylfaen;
}

.imageText{
    padding: 10px;
}

.btn.btn-default{
    margin-left: 530px;
}