body{
    Background: #231F22;
}

h1 {
    color: #B7B6B6;
}
h1.createTitle{
    margin-top: 10px;
    margin-bottom: 30px;
}

.container{
    text-align: center;
}
#addImage {
     background: #6F6F6F;
     height: 500px;
     width: 500px;
     margin: auto;
 }

#placeholder{
    padding-top: 45%;
    text-align: center;
    color: #B7B6B6;
}

#titleInput {
    background-color: #6F6F6F;
    border-color: #B7B6B6;
}

#sizing-addon1{
    background-color: #B7B6B6;
}

#fileBrowser{
    color: #B7B6B6
}

.crop img{
    width: 500px;
    height: 500px;
}
#uplbtn{
    float: left
}

a.btn.btn-danger{
    margin-top: 8px;
}
