body{
    Background: #231F22;
}

title {
    color: #B7B6B6;
}

#imageView {
    background: #6F6F6F;
    height: 500px;
    width: 500px;
    margin: auto;
}

#placeholder{
    padding-top: 45%;
    text-align: center;
    color: #B7B6B6;
}

a {
    color: #B7B6B6;
}

a.btn.btn-danger{
    margin-top: 8px;
}

#desc{
    background-color: #6F6F6F;
    color: #B7B6B6;
}

#tag{
    background-color: #6F6F6F;
    color: #B7B6B6;
}

#long{
    background-color: #6F6F6F;
    color: #B7B6B6;
}

#height{
    background-color: #6F6F6F;
    color: #B7B6B6;
}

#weight{
    background-color: #6F6F6F;
    color: #B7B6B6;
}

#line{
    margin-top: 120px;
    height: 1px;
    width: 100%;
    background-color: #B7B6B6;
}