body{
    Background: #231F22;
}

title {
    color: #B7B6B6;
}

#imageView {
    background: #6F6F6F;
    height: 500px;
    width: 500px;
    margin: auto;
}

#placeholder{
    padding-top: 45%;
    text-align: center;
    color: #B7B6B6;
}

a {
    color: #B7B6B6
}